@font-face {
    font-family: Circularfont;
    src: url(CircularStd-Book.otf); 
}

@font-face {
    font-family: PorticoRough;
    src: url(PorticoRough.otf); 
}
@font-face {
    font-family: PorticoLightRough;
    src: url(PorticoLightRough.otf); 
}

@font-face {
    font-family: PorticoOutline;
    src: url(PorticoOutline.otf); 
}
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, a {
    font-family: Circularfont;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-image: url('patternlowopacity.png');
    background-repeat: repeat;
    background-attachment: fixed;
}


::selection {
    background: #fca309;
    color: #222
}


#overflowxwrapper {
    overflow-x: hidden;
}



/* -- header -- */

header {
    width: 100%;
    background-color: #f6f6f6;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 0px 10px;

    box-shadow: 0px 5px 50px #222;
}
#desklogo {
    height: 110px;
    margin-top: 10px;
    z-index: 10;
}
#mobillogo{
    height: 66px;
    margin-top: 7px;
    margin-left: -18px;
}

#desklogo:hover, #desklogo:active {

}
#logowrapper {
    width: 178px;
    height: 140px;
    border-radius: 1000px;
    float: left;
    background: #f2f2f2;
    /*box-shadow: 0px 5px 100px #222;  FIX THIS YO */    
}

.widthwrapperheader {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 18px;
}

/* -- Navigation -- */
/* -- desktop --*/
#desknav
{
    list-style: none;
    padding: 0;
    float: right;
    height: 100%;
    text-align: center;
}

#desknav > li
{
    position: relative;
    float: left;
    height: 100%;
    margin: 0;
}

#desknav a
{
    color: #222;
    text-decoration: none;
    display: block;
    height: 100%;
    line-height: 100px;
    font-size: 1.2em;
    font-weight: 400;

    transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
/* -- mobil nav -- */


.mobilnav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 120%;
    background-color:#fffbf4;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.7s ease;
    border-left: 3px solid #fca309;
    z-index: 10000;
}
.mobilnav.open {
    transform: translateX(0);
}
.mobilnav li{
    list-style: none;
    line-height: 1.5em;
}
.mobilnav ul a{
    text-decoration: none;
    padding: 25px 20px;
    display:block;
    color: #fca309;
    font-size: 1.3em;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.mobilnav ul a:active{
    color: #fca309;
    font-weight: bold;
}
.mobilnav ul a:hover{
    color: #fca309;
    font-weight: bold;
}

.burgerlist {
    padding-top: 5%;
}

.nav-toggle{
    float: right;
    cursor: pointer;
    width: 70px;
    height: 70px;
    margin-top: 5px;
    background: url(../img/icon/burger2.png);
}

.nav-toggle:hover {
    background: url(../img/icon/burger2hover.png);
}
.nav-toggle:active {
    background: url(../img/icon/burger2hover.png);
}


.toggleclose{
    float: right;
    cursor: pointer;
    height: 60px;
    width: 60px;
    background: url(../img/icon/burgerclose.png);
    display: inline-block;
}

.toggleclose:hover{
    background: url(../img/icon/burgerclosehover.png);
}
.toggleclose:active{
    background: url(../img/icon/burgerclosehover.png);
}

/* -- main content -- */


.contentwrapper {
    width: 100%;
    position: relative;
    z-index: 5;
    background: #fffaf4;

}

.widthwrapper {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.sectionplaceholder {
    height: 512px;
    width: 100%;
    position: relative;
    z-index: 4;   
    background: #c34242;
}
.offsetanchor {
    display: block;
    position: relative;
    top: -140px;
    visibility: hidden;
}

.sectiontextboxleft {
    width: 60%;

    padding: 5% 3%;
}




/* -- Attention -- */

#attention {
    margin-top: 100px;
    position: relative;
    box-shadow: 0px 5px 50px #000;
}

#attentionbg{
    width: 100%;
    height: auto;
    vertical-align:top;
}

#lefthand{
    position: absolute;
    z-index: 2;
    transition: ease-in-out 3.5s;
}

#righthand{
    position: absolute;
    z-index: 2;
    transition: ease-in-out 3.8s;
}

#lefthand.animationlh {
    left: 0;
    top: 0;
}

#righthand.animationrh {
    right: 0;
    top: 0;
}

#attentiontextwrapper {
    position: absolute;
}

#attentiontextwrapper h1 {
    color: #fff;
    font-family: PorticoRough;
    text-align: center; 
    display:none;
}

#attentiontextwrapper h2 {
    color: #fca309;
    text-align: center;
    font-family: PorticoOutline;
    display: none;
}

.attentionstarwrapper{
    text-align: center;
    display: none;
}
.attentionstarwrapper img {
    padding: 5px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.mobilattentionstars {
    text-align: center;
    display: none;
}
.mobilattentionstars img{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

/* -- Menu -- */

#menusection {
    background: url(../img/blackconcretebg.jpg);
    background-size:contain;
    z-index: 6;
}



#menuburgerimg{
    position: absolute;
    right: -150px;
    top: 15%;
    height: 70%;
    transition: ease-out 10s;
}

#menusection .sectiontextboxleft h2 {
    font-family: PorticoOutline;
    font-size: 3em;
    color: white;
    opacity: 0.9;
}
#menusection .sectiontextboxleft p {
    font-family: PorticoRough.otf;
    font-size: 1.1em;
    line-height: 1.5em;
    color: white;
    opacity: 0.9;
    margin-top: 20px;
}
#menusection .sectiontextboxleft p span {
    line-height: 3.5em;

    font-size: 1.15em;
    font-family: PorticoRough;
}
#menusection .sectiontextboxleft a {
    color: white;
}

#menusection .sectiontextboxleft ul {
    list-style: none;
    margin-left: 30px;
    line-height: 1.5em;
    margin-bottom: 45px;
    margin-top: 10px;
    list-style-image: url("../img/bulletstar.png");
}
#menusection .sectiontextboxleft ul li {
    color:white;
    font-size: 1.3em;
    margin-bottom: 22px;
}

/* -- Location -- */

#mapsection {
    background: #f2f2f2;
    position: relative;
}
#map {
    height: 100%;
    width: 65%;
}
#locationtextbox {
    width: 35%;
    height: 81.5%;
    position: absolute;
    top: 0;
    right: 0;
    background: #f2f2f2;
    box-shadow: -80px 0 100px #f2f2f2;
    padding:3%;
    text-align: center;
}

#locationtextbox h2{
    font-family: PorticoRough;
    color: #fca309;
    font-size: 3em;
    padding-top: 45px;
}

#locationtextbox ul {
    list-style: none;
    font-size: 1.3em;
    line-height: 2em;
    margin-bottom: 65px;
    margin-top: 35px;
}


/* -- flippin -- (URL: https://desandro.github.io/3dtransforms/docs/card-flip.html) */
.flipcontainer { 
    width: auto;
    height: 512px;
    position: relative;
    perspective: 1200px;

}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1.5s;
    box-shadow: 0px 5px 50px #000;
}

.card section {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flipbutton {
    width: 80px;
    height:50px;
}

.card .front {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY( 180deg );
}
.card .back {
    position: absolute;
    top: 0;
    left: 0;
    background: blue;
}

.card { 
    transform-origin: right center; 
}

.card.flipped {
    transform: translateX( -100% ) rotateY( -180deg );
}

/* -- Footer -- */

footer {
    height: 400px;

}


/* nav hover/active effects (URL: https://tympanus.net/codrops/2013/08/06/creative-link-effects/) */
.cl-effect-4 a::after {
    position: absolute;
    top: 72%;
    left: 15%;
    width: 70%;
    height: 1px;
    background: #fca309;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}
.cl-effect-4 a:hover::after,
.cl-effect-4 a:active::after {
    height: 4px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}



.cl-effect-20 a {
    line-height: 3em;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
    font-size: 1.2em;
}

.cl-effect-20 a span {
    position: relative;
    display: inline-block;
    padding: 3px 20px 0;
    background: #fca309;
    box-shadow: inset 0 3px #724c0b;
    text-align: center;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    transition: background 0.6s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.cl-effect-20 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #fca309;
    content: attr(data-hover);
    -webkit-transform: rotateX(270deg);
    -moz-transform: rotateX(270deg);
    transform: rotateX(270deg);
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    pointer-events: none;
}

.cl-effect-20 a:hover span,
.cl-effect-20 a:active span {
    background: #9a6a19;
    cursor: pointer;
}

.cl-effect-20 a:hover span::before,
.cl-effect-20 a:active span::before {
    -webkit-transform: rotateX(10deg);	
    -moz-transform: rotateX(10deg);
    transform: rotateX(10deg);
}

/* styling for small animations when elements enter viewport look in smoothscroll.js for source and description*/

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
    to { transform: translateY(0); }
}

/* -- MediaQ -- */


@media all and (min-width: 0px) {
    .sectiontextboxleft {
        text-align: center;
    }
    #menusection .sectiontextboxleft ul li {
        text-align: left;
    }
    #menusection {
        background-size:cover;
    }
    .sectiontextboxleft {
        font-size: 0.7em;
    }
    .sectiontextboxleft h2 {
        text-align: center;
    }
    .sectiontextboxleft p {
        text-align: center;
    }
    #menulink {
        text-align: center;

        margin-bottom: 30px;
    }
    .sectiontextboxleft{
        width: 94%;
    }
    #menuburgerimg {
        display: none;
    }
    .mobilattentionstars img{
        width: 5px;
        height: 5px;
    }
    .mobilnav {
        display: block;
    }
    .nav-toggle {
        display: block;
    }
    #attentiontextwrapper {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        top:25%;
    }

    #attentiontextwrapper h1 {
        font-size: 1em;
    }

    #attentiontextwrapper h2 {
        font-size: 0.6em;
    }
    header{
        height: 80px;
    }
    #attention{
        margin-top: 80px;
    }
    #mobillogo{
        display: block;
    }
    #desklogo {
        display: none;
    }
    #logowrapper {
        background: none;
    }
    #lefthand{
        display: none;
    }

    #righthand{
        display: none;
    }
    #mobilblackbox {
        height: 50px;
        background: black;
        margin-bottom: -1px;
        display: block;
    }
    #desknav {
        display: none;
    }
}

@media all and (min-width: 200px) {
    .sectiontextboxleft {
        font-size: 0.8em;
    }
    .mobilattentionstars img{
        width: 10px;
        height: 10px;
    }
    #attentiontextwrapper {

        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        top:22%;
    }

    #attentiontextwrapper h1 {
        font-size: 1.2em;
    }

    #attentiontextwrapper h2 {
        font-size: 0.7em;
    }
}

@media all and (min-width: 300px) {
    .sectiontextboxleft {
        font-size: 0.9em;
    }
    .mobilattentionstars img{
        width: 14px;
        height: 14px;
    }
    #attentiontextwrapper {
        width: 46%;
        margin-left: 27%;
        margin-right: 27%;
        top:20%;
    }
    #attentiontextwrapper h1 {
        font-size: 0.9em;
    }

    #attentiontextwrapper h2 {
        font-size: 0.6em;
    }
    #lefthand{
        display: block;
        left: -80px;
        top: -80px;
        width: 80px;
    }

    #righthand{
        display: block;
        right: -70px;
        top: -70px;
        width: 70px;
    }
    #mobilblackbox {
        height: 25px;
        background: black;
    }

} 
@media all and (min-width: 380px) {
    .sectiontextboxleft {
        font-size: 1em;
    }
    #attentiontextwrapper h1 {
        font-size: 1.2em;
    }

    #attentiontextwrapper h2 {
        font-size: 0.75em;
    }
    #lefthand{

        left: -100px;
        top: -100px;
        width: 100px;
    }

    #righthand{
        right: -90px;
        top: -90px;
        width: 90px;
    }
    #mobilblackbox {
        height: 15px;
        background: black;
    }

} 

@media all and (min-width: 450px){
    .mobilattentionstars img{
        width: 18px;
        height: 18px;
    }
    #attentiontextwrapper h1 {
        font-size: 1.4em;
    }

    #attentiontextwrapper h2 {
        font-size: 0.9em;
    }
}

@media all and (min-width: 550px){
    #attentiontextwrapper h1 {
        font-size: 1.7em;
    }

    #attentiontextwrapper h2 {
        font-size: 1em;
    }

    #lefthand{
        left: -150px;
        top: -158px;
        width: 150px;
    }

    #righthand{
        right: -130px;
        top: -130px;
        width: 130px;
    }

}

@media all and (min-width: 650px){

    .mobilattentionstars img{
        width: 24px;
        height: 24px;
    }
    #attentiontextwrapper h1 {
        font-size: 2em;
    }

    #attentiontextwrapper h2 {
        font-size: 1.3em;
    }
    #lefthand{
        left: -170px;
        top: -170px;
        width: 170px;
    }

    #righthand{
        right: -160px;
        top: -160px;
        width: 160px;
    }


}
@media all and (min-width: 769px) {
    .sectiontextboxleft {
        text-align: left;
    }
    

    #menusection::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: inherit;
        z-index: -1;
        bottom: 0;
        transform-origin: left right;
        transform: skewY(3deg);
    }
    .sectiontextboxleft h2 {
        text-align: left;
    }
    .sectiontextboxleft p {
        text-align: left;
    }
    #menulink {
        text-align: left;
    }
    #menusection .sectiontextboxleft {
        width: 94%;
    }
    #menuburgerimg {
        display: block;
        height: 60%;
        top:54%;
    }
    .animateburger {
        transform: translateX(-90px);
    }
    #attentiontextwrapper {

        top:13%;
    }
    #attentiontextwrapper h1 {
        font-size: 2.4em;
    }

    #attentiontextwrapper h2 {
        font-size: 1.5em;
    }
    header{
        height: 100px;
    }
    #attention{
        margin-top: 100px;
    }
    #mobillogo{
        display: none;
    }
    #desklogo {
        display: block;
    }
    #logowrapper {
        background: #f6f6f6;
    }
    #lefthand{
        left: -190px;
        top: -190px;
        width: 190px;
    }

    #righthand{
        right: -180px;
        top: -180px;
        width: 180px;
    }

    #mobilblackbox {
        display: none;
    }
    #desknav {
        display: block;
    }
    .mobilnav {
        display: none;
    }
    .nav-toggle {
        display: none;
    }
    #desknav > li
    {
        width: 106px;
    }
}

@media all and (min-width: 960px) {
    #menusection .sectiontextboxleft {
        width: 60%;
    }
    #menuburgerimg {
        height: 60%;
        top:18%;
    }
    .animateburger {
        transform: translateX(-70px);
    }
    #attentiontextwrapper h1 {
        font-size: 2.8em;
    }

    #attentiontextwrapper h2 {
        font-size: 1.8em;
    }
    #lefthand{
        left: -200px;
        top: -200px;
        width: 200px;
    }

    #righthand{
        right: -200px;
        top: -200px;
        width: 200px;
    }
    #desknav > li
    {
        width: 130px;
    }
}

@media all and (min-width: 1020px) {
    .animateburger {
        transform: translateX(-100px);
    }
    #attentiontextwrapper h1 {
        font-size: 3.2em;
    }

    #attentiontextwrapper h2 {
        font-size: 2em;
    }
    #lefthand{
        left: -280px;
        top: -280px;
        width: 230px;
    }

    #righthand{
        right: -280px;
        top: -280px;
        width: 230px;
    }
    #desknav > li
    {
        width: 150px;
    }
}
@media all and (min-width: 1200px) {
    #menusection {
        background-size:contain;
    }
    #menuburgerimg{
        top:15%;
        height: 70%;
    }
    .animateburger {
        transform: translateX(-130px);
    }
    #lefthand{
        left: -280px;
        top: -280px;
        width: 270px;
    }

    #righthand{
        right: -280px;
        top: -280px;
        width: 270px;
    }
}

@media all and (min-width: 1440px) {
    .animateburger {
        transform: translateX(-150px);
    }
    #attentiontextwrapper h1 {
        font-size: 4em;
    }

    #attentiontextwrapper h2 {
        font-size: 2.5em;
    }

    #lefthand{
        left: -380px;
        top: -380px;
        width: 350px;
    }

    #righthand{
        right: -370px;
        top: -370px;
        width: 340px;
    }
    #desknav > li
    {
        width: 170px;
    }

}




